header{
    background-color: antiquewhite;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    margin-left: 100px;
}
.navtitle{
    font-size: 1.6rem;
    font-weight: 700;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* this is navber finish */
.bannersec{
    display: flex;
}
.banner-riy{
    margin-left: 200px;
    margin-top: 100px;
}
.banner-riy h1{
    font-weight: 60px;
    font-size: 50px;
}
.banner-riy button{
    color: white;
    background-color: #E02C6D;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
}
.imagessec{
    margin-left: 100px;
    margin-top: 70px;
}
/* finish banner section  */
.sponser-img{
    text-align: center;
    margin-top: 50px;
}
.sponser-img img{
    margin: 40px;
}

/* this is card section  */
.facts-card-container{
    display: flex;
}
.card{
    margin-left:70px;
    border: 2px solid white;
    gap: 10px;
    margin-bottom: 30px;
}

.facts-card-container2{
    display: flex;
}

.facts-card-container3{
    display: flex;
}
/* finish card section  */

.middle-sec{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.mid-wr{
    margin-left: 50px;
}
.mid-wr button{
    color: white;
    background-color: #E02C6D;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
}
/* finish middle section  */
footer{
    margin-top: 100px;
    background-color: navy;
    color: white;
    align-items: center;
    justify-content: center;
}
.fotter-item{
    margin-left: 500px;

}
